body {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(black,rgb(253, 253, 253));
  overflow: hidden;
}

body::before{
  content: "";
  height: 0;
  float: left;
  padding-top: 52%;
}
body::after{
  content: "";
  display: block;
  clear: both;
}

.container {
  background-image: url("https://img.freepik.com/vetores-gratis/estilo-de-papel-3d-de-fundo_23-2148462688.jpg?size=626&ext=jpg");
  background-size: cover;
  padding: 2px;
  display: grid;
  width: 1000px;
  min-height: 500px;
  border-radius: 5%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #d1ce1a;
}
