.container {
    background-image: url("https://img.freepik.com/vetores-gratis/estilo-de-papel-3d-de-fundo_23-2148462688.jpg?size=626&ext=jpg");
    background-size: cover;
    padding: 2px;
    display: grid;
    width: 1000px;
    min-height: 500px;
    max-height: 800px;
    border-radius: 5%;
  } 