.container {
    background-image: url("https://img.freepik.com/vetores-gratis/estilo-de-papel-3d-de-fundo_23-2148462688.jpg?size=626&ext=jpg");
    background-size: cover;
    padding: 2px;
    display: grid;
    width: 1000px;
    min-height: 500px;
    border-radius: 5%;
  } 
  .navbar {
    margin-right: 30px;
    margin-top: 20px;
    height: 20px;
    width: 970px;
    display: flex;
    justify-content: end;
    align-items: end;
   
}
.about {
    margin-right: 20px;
    color: #012947;
}

.skills {
    margin-right: 20px;
    color: #012947;
}
.Home{
    padding-left: 30%;
   padding-bottom: 0;
}
.texto {
   
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.destacado{
       display: flex;
    align-items: center;
    margin: 0;
    padding: 0%;
    color: rgb(240, 189, 128);
    font-size: 40px;
}


.ul{
    padding: 0;
    display: flex;
    list-style-type: none;
}

.icones{
    height: 30px;
    width: 30px;
    margin-left: 60px;
}
.contato{
    opacity: 80%;
    margin-top: 40px;
}
.welcome{
    color: rgba(0, 0, 0, 0.568);
    position: relative;
    border: 1px solid ;
    opacity: 50%;
    padding: 4px;
    border-radius: 50%;
    width: 70px; 
    top: 20px;
    right: 25px;
}