.home {
    margin-right: 20px;
    color: #012947;
}

.skills {
    margin-right: 20px;
    color: #012947;
}
.about{
    color: #012947;
}

nav {
    margin-right: 30px;
    margin-top: 20px;
    height: 20px;
    width: 970px;
    display: flex;
    justify-content: end;
    align-items: end;
   
}

.portifolio {
    position: relative;
    padding-left: 30px;
    top: 23px;
    color: #012947;
    width: 100%;
    
}