.home {
    margin-right: 20px;
    color: #012947;
}

.skills {
    margin-right: 20px;
    color: #012947;
}
.about{
    color: #012947;
    margin-right: 20px;
}



.portifolio {
    position: relative;
    padding-left: 30px;
    color: #012947;
    width: 100%;
}