.h2-skill {
    margin-left: 30px;
}
.paragrafo{
    margin-left: 10px;
    font-size: 20px;
    color: #9e8b55;
    margin-right: 10px;
}

.Skills {
    display: flex;
    justify-content: center;
}

.hard-skills {
    margin-right: 20px;
    border: 1px solid;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    animation: shadow-inset-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.soft-skills {
    border: 1px solid;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    animation: shadow-inset-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.ul-soft{
    color: #9e8b55;
}

  